.cdheader {
  width: 700px;
  margin: 0 auto;
  border-radius: 5px;
}

.cdheader a {
  color: #fff;
  text-decoration: none;
  background: skyblue;
  margin: 0 2px;
  padding: 3px 15px;
}
.user-out {
  padding: 5px 10px;
  background: rgb(6, 160, 6);
  color: #fff;
  transition: 0.3s;
}
.user-out:hover {
  background: green;
  color: #fff;
}
