.bread-wrapper {
  background-image: url("https://i.ibb.co/ngN70Zz/aditya-chinchure-GKkm9-OXOb-CM-unsplash-1.jpg");
}
.bread-wrapper {
  padding: 120px 0;
  background-size: cover;
  background-position: center;
  color: #fff;
}
